.fieldsContainer {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    align-items: flex-start;
}

.fieldsContainerVertical {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-items: center;
}

.inputContainer {
    min-width: 0;
    padding: 0;
}

.clearButton {
    height: 40px !important;
    width: 40px !important;
    border-radius: 0 !important;
}
