.label {
  pointer-events: none;
  position: absolute;
  left: 10px;
  top: 0;
  z-index: 11;
  transform-origin: top left;
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.labelUnshrinked {
  color: #aaa;
  transform: translate(0, 30px) scale(1);
}

.labelShrinked {
  color: rgba(0, 0, 0, 0.56);
  transform: translate(0, 1.5px) scale(0.75);
}
