.label {
    pointer-events: none;
    position: absolute;
    inset-inline-start: 12px;
    top: 0;
    z-index: 11;
    transform-origin: top left;
    transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}

.labelUnshrinked {
    color: #6C7787;
    transform: translate(0,14px) scale(1);
    font-size: 14px;
}

.labelShrinked {
    color: #6C7787;
    transform: translate(0px, 2px) scale(0.55);
}
