.container {
    display: flex;
    flex-wrap: wrap;
}

.containerVertical {
    display: flex;
    flex-direction: column;
}

.labelContainer {
    padding-right: 16px;
    flex-grow: 0;
    flex-shrink: 0;
}

.labelContainerVertical {
    
}

.inputContainer {
    flex-grow: 1;
    flex-shrink: 0;
}