.coordinateField {
    position: relative;
    display: flex;
    flex-direction: column;
}

.coordinateFieldsHorizontal {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.coordinateFieldsVertical {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.mapIconContainer {
    position: relative;
}

.mapIconContainerWithMargin {
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    height: 40.5px;
    width: 40.5px;
    border: 1px solid #a0adba;
    border-start-start-radius: 4px;
    border-end-start-radius: 4px;
    border-start-end-radius: 0;
    border-end-end-radius: 0;
    color: #212934;
    background-color: #f9fafb;
}

.inputContainer {
    flex-grow: 1;
    padding: 0;
}

.latitudeTextInput {
    border-radius: 0px;
}

.longitudeTextInput {
    border-start-start-radius: 0;
    border-end-start-radius: 0;
    border-start-end-radius: 3px;
    border-end-end-radius: 3px;
}

.dialogActionOuterContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.dialogActionInnerContainer {
    padding: 24px 0px 0px 5px;
}


.mapContainer {
    flex-grow: 1;
    position: relative;
    height: 100%;
    width: 100%;
}

.leafletContainer {
    position: absolute;
    height: 100%;
    width: 100%;
}

.dialogContent {
    display: flex;
    height: 600px;
    flex-direction: column;
}

.buttonsContainerVertical {
    display: flex;
}

.clearIcon {
    height: 40px !important;
    width: 40px !important;
    border-radius: 0 !important;
}
