.container {
    position: relative;
}
.statusContainer {
    display: flex;
    align-items: center;
}

.mapIcon {
    cursor: pointer;
    padding: 2px;
}
.statusText {
    padding: 2px;
}
.checkIcon {
    padding: 2px;
}

.dialogActionOuterContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.dialogActionInnerContainer {
    padding: 10px 5px 8px 5px;
}

.mapContainer {
    flex-grow: 1;
    position: relative;
}

.map {
    position: absolute;
    height: 100%;
    width: 100%;
}

.dialogContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

