.container {
    position: relative;
}
.statusContainer {
    display: flex;
    align-items: center;
}

.mapIcon {
    cursor: pointer;
    padding: 2px;
}
.statusText {
    padding: 2px;
}
.checkIcon {
    padding: 2px;
}

.polygonLeafletMap {
    position: absolute;
    width: 100%;
    z-index: 1000;
    left: 0;
}
.leafletContainer {
    z-index: 1000;
    height: 375px;
    border: 1px solid black;
    border-radius: 3px;
}

