{
    "overrides": [
        {
            "test": ["./src/**/*.jsx", "./src/**/*.js"],
            "plugins": [
                "@babel/plugin-transform-flow-strip-types"
            ]
        }
    ]
}
