{
    "plugins": [
        "@babel/plugin-transform-flow-strip-types"
    ],
    "overrides": [
        {
            "test": ["./src/**/*.tsx", "./src/**/*.ts"],
            "presets": [
                "@babel/preset-typescript"
            ],
            "plugins": [
                "@babel/preset-env",
                "@babel/preset-react"
            ]
        }
    ]
}
