{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "extends": [
        "dhis2",
        "plugin:flowtype/recommended"
    ],
    "plugins": [
        "flowtype"
    ],
    "globals": {
        "document": true,
        "window": true,
        "it": true,
        "expect": true,
        "appPackage": true
    },
    "rules": {
        "no-param-reassign": 0,
        "react/prop-types": 0,
        "import/prefer-default-export": 0,
        "react/prefer-stateless-function": 0,
        "no-unused-expressions": 0,
        "no-unused-vars": [
            "warn",
            {
                "vars": "all",
                "args": "after-used",
                "ignoreRestSiblings": true
            }
        ],
        "react/jsx-no-bind": 0,
        "react/require-default-props": 0,
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": false,
                "optionalDependencies": false,
                "peerDependencies": true
            }
        ],
        "react/sort-comp": [
            2,
            {
                "order": [
                    "static-methods",
                    "type-annotations",
                    "lifecycle",
                    "everything-else",
                    "render"
                ],
                "groups": {
                    "lifecycle": [
                        "displayName",
                        "propTypes",
                        "contextTypes",
                        "childContextTypes",
                        "mixins",
                        "statics",
                        "defaultProps",
                        "constructor",
                        "getDefaultProps",
                        "getInitialState",
                        "state",
                        "getChildContext",
                        "componentWillMount",
                        "componentDidMount",
                        "componentWillReceiveProps",
                        "shouldComponentUpdate",
                        "componentWillUpdate",
                        "componentDidUpdate",
                        "componentWillUnmount"
                    ]
                }
            }
        ]
    },
    "settings": {
         "import/resolver": {
            "webpack": {
                "config": "config/eslintWebpack.config.js"
            }
        }
    }
}