.table {
    display: table;
    width: 100%;
    border-spacing: 0;
}

.tableRow {
    color: inherit;
    display: table-row;
    vertical-align: middle;    
}

.tableRow:focus {
    outline: none;
}

.tableRowBody {
    height: 48px;
}

.tableRowHeader {    
    height: 56px;
}

.tableRowFooter {    
    height: 56px;
}

.tableCell {
    display: table-cell;
    vertical-align: middle;
    padding: 2px 30px 2px 20px;
}

.tableCellBody {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: left;
}

.tableCellHeader {
    font-weight: bold;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: left;
}

.tableCellFooter {
   
}

.pagination {
    display: flex;
    align-items: center;
}

.paginationRowsPerPageElementContainer {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.paginationRowsPerPageElement {
    margin-left: 20px;
}

.paginationDisplayRowsContainer {
    margin-right: 20px;
}

.sortLabelContainer {
    display: flex;
    align-items: center;
}

.sortLabelChildren {   
    outline: none;
    user-select: none;
}

.sortLabelChildrenEnabled {
    cursor: pointer;
}

.sortLabelChildrenFirst {
    padding-right: 10px;
}

.sortLabelChildrenLast {
    padding-left: 10px;
}

.sortLabelRight {
    justify-content: flex-end;
}

.sortLabelIcon {
    display: flex;
    align-items: center;
}