.trueOnlyLabel {
    padding-top: 6px;
} 

.coordinateLabel {
    padding-top: 13px;
} 

.polygonLabel {
    padding-top: 4px;
} 

.dateLabel {
    padding-top: 13px;
} 

.selectLabel {
    padding-top: 13px;
}