.input {
    cursor: inherit;
    position: absolute;
    z-index: 199;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}

.input:focus {
    outline: none;
}

.input:disabled {
    cursor: not-allowed;
}

.iconContainer {
    display: flex;
    align-items: center;
    padding: 12px;
}

.iconFocusContainer {
    position: relative;
}

.label {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.label:hover {
    cursor: pointer;
}

.name {
    padding-left: 5px;
}

.inFocus {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    animation: focus-pulsate 2500ms cubic-bezier(0.4, 0, 0.2, 1) 200ms infinite;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}

.labelDisabled {
    color: rgba(0, 0, 0, 0.30);
    cursor: not-allowed;
}

@keyframes focus-pulsate {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
}