.Select-control {
  padding-left: 12px;
  font-size: 16px;
  width: 100%;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 0px #c4c4c4 inset;
  height: 42px;
  line-height: 42px;
  display: flex;
  align-items: center;
  background-color: white;
}

.Select-multi-value-wrapper {
  flex-grow: 1;
}

.Select-menu-outer {
  z-index: 200;
}

.Select-input {
  padding-left: 0px;
  height: inherit;
}

.Select-placeholder {
  padding-left: 12px !important;
  line-height: inherit !important;
}

.Select-value {
  padding-left: 12px !important;
  line-height: inherit !important;
}

.Select-control:hover {
  outline: none;
  box-shadow: 0px 0px 2px 0px #c4c4c4 inset;
}

.Select.is-focused > .Select-control {
  background-color: white !important;
  border-color: #c4c4c4 !important;
}
.Select.is-focused:not(.is-open) > .Select-control {
  background-color: white !important;
  border-color: #c4c4c4 !important;
  box-shadow: 0px 0px 2px 0px #c4c4c4 inset !important;
}
