.Select-control {
    padding: 12px 4px 10px 11px;
    font-size: 14px;
    width: 100%;
    border: 1px solid #a0adba;
    border-radius: 3px;
    box-shadow: inset 0 0 1px 0 rgba(48, 54, 60, 0.1);
    color: #212934;
    height: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
    background-color: white;
}

.Select-multi-value-wrapper {
    flex-grow: 1;
}

.Select-menu-outer {
    z-index: 200;
}

.Select-input {
    padding-left: 0px;
    height: inherit;
}

.Select-placeholder {
    padding-left: 12px!important;
    line-height: inherit!important;
}

.Select-value {
    padding-left: 12px!important;
    line-height: inherit!important;
}

.Select.is-focused > .Select-control {
    background-color: white!important;
    /* border-color: #C4C4C4!important; */
    outline: none;
    box-shadow: inset 0 0 0 2px #147cd7;
    border-color: #147cd7;
}
.Select.is-focused:not(.is-open) > .Select-control {
    background-color: white!important;
    /* border-color: #C4C4C4!important; */
    /* box-shadow: 0px 0px 2px 0px #C4C4C4 inset!important; */

    outline: none;
    box-shadow: inset 0 0 0 2px #147cd7;
    border-color: #147cd7;
}

.Select-arrow {
    border-color: #4a5768 transparent transparent;
}

.Select.is-open > .Select-control .Select-arrow {
    border-color:  transparent transparent #4a5768;

}
.Select.is-open > .Select-control .Select-arrow {
    border-top-color: #4a5768;
}

.Select-clear-zone {
    color: #6C7787;
    line-height: 1;
    width: 24px;
    padding: 4px 0;
    border-radius: 3px;
}

.Select-clear-zone:hover {
    background-color: #f8f9fa;
}

.Select-clear {
    font-size: 20px;
}