.container {
    display: flex;
}
.containerVertical {
    flex-direction: column;
}
.inputsContainer {
    display: flex;
}

.inputsContainerVertical {
    flex-direction: column;
}

.ageNumberInputContainer {
    margin-right: 10px;
    width: 150px;
}

.ageDateInputContainer {
    margin-right: 10px;
    padding-top: 16px;
}
.ageClear {
    margin-top: 26px;
}