.container {
    display: flex;
}
.containerVertical {
    display: flex;
    flex-direction: column;
}

.containerHorizontal {
    display: flex;
    flex-wrap: wrap;
}

.ageNumberInputContainer {
    width: 150px;
}

.ageDateInputContainer {
    padding-top: 16px;
}
.ageClear {
    margin-top: 26px;
}