body {
    overflow-x: hidden;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

textarea, input, button {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

::placeholder {
    color: #aaa;
}