.container {
    display: flex;
}
.containerVertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerHorizontal {
    display: flex;
    flex-wrap: wrap;
}

.ageNumberInputContainer {
    width: 150px;
}
.ageDateInputContainerHorizontal {
}
.ageClearHorizontal {
    margin-top: 2px;
}