.container {
    display: flex;
    flex-wrap: wrap;
}

.containerVertical {
    display: flex;
    flex-direction: column;
}

.labelContainer {
    padding-inline-end: 16px;
    min-width: 40%;
}

.labelContainerVertical {
    
}

.inputContainer {
    flex-grow: 1;
    flex-shrink: 0;
}