.Cal__Today__root {
  align-items: center;
  justify-content: center;
}
.Cal__Today__root .Cal__Today__chevron {
  position: unset;
  top: unset;
  margin-left: 5px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}
