.containerHorizontal {
    display: flex;
    flex-wrap: wrap;
}

.containerVertical {

}

.optionContainerHorizontal {
    margin-right: 24px;
}

.optionContainerVertical {

}

.disabledIcon {
    fill: rgba(0,0,0,0.30);
}