.booleanLabel {
    padding-top: 6px;
}

.trueOnlyLabel {
    padding-top: 6px;
}

.textLabel {
    padding-top: 13px;
}

.ageLabel {
    padding-top: 27px;
}

.coordinateLabel {
    padding-top: 27px;
}

.polygonLabel {
    padding-top: 3px;
}

.dateLabel {
    padding-top: 13px;
}

.dateTimeLabel {
    padding-top: 27px;
}

.imageLabel {
    padding-top: 9px;
}

.fileLabel {
    padding-top: 9px;
}

.orgUnitLabel {
    padding-top: 3px;
}

.optionSetBoxesLabel {
    padding-top: 13px;
}