.d2-table-default {
    display: table;
    width: '100%';
    border-spacing: 0;
}

.d2-table-row-default {
    color: inherit;
    display: table-row;
    vertical-align: middle;    
}

.d2-table-row-default:focus {
    outline: none;
}

.d2-table-row-body-default {
    height: 48px;
}

.d2-table-row-header-default {    
    height: 56px;
}

.d2-table-row-footer-default {    
    height: 56px;
}

.d2-table-cell-default {
    display: table-cell;
    vertical-align: middle;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: left;
    padding: 2px 20px 2px 20px;
}

.d2-table-cell-body-default {

}

.d2-table-cell-header-default {
  
}

.d2-table-cell-footer-default {
   
}

.d2-table-cell-pagination-default {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.d2-pagination-rows-per-page-element-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.d2-pagination-rows-per-page-element {
    margin-left: 20px;
}

.d2-pagination-display-rows-container {
    margin-right: 20px;
}

.d2-sort-label-default {
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    user-select: none;
}

.d2-sort-label-last-element-default {
    padding-left: 10px;
}

.d2-sort-label-right-default {
    justify-content: flex-end;
}