.input {
    box-sizing: border-box;
    padding: 12px 11px 10px;
    font-size: 14px;
    width: 100%;
    color: #212934;
    border: 1px solid #a0adba;
    border-radius: 3px;
    box-shadow: inset 0 0 1px 0 rgba(48, 54, 60, 0.1);
    text-overflow: ellipsis;
}

.input:disabled {
    background-color: #f8f9fa;
    border: 1px solid #a0adba;
    color: #6C7787;
    cursor: not-allowed;
}

.input::placeholder {
    color: #6C7787;
    opacity: 1;
}

.textArea {
    margin: 0px;
    padding-left: 12px;
    padding-top: 10px;
    font-size: 14px;
    width: 100%;
    border: 1px solid #a0adba;
    border-radius: 3px;
    box-shadow: inset 0 0 1px 0 rgba(48, 54, 60, 0.1);
    height: 100px;
    resize: vertical;
}

.textArea:disabled {
    background-color: #f8f9fa;
    border: 1px solid #a0adba;
    color: #6C7787;
    cursor: not-allowed;
}

.input:focus, .textArea:focus {
    outline: none;
    box-shadow: inset 0 0 0 2px #147cd7;
    border-color: #147cd7;
}