.ou-tree-container {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.ou-tree-label {
  color: rgba(0, 0, 0, 0.54);
  font-size: 1em;
}

.ou-tree {

}

.ou-tree .label {
  display: flex;
  flex-direction: row;
  user-select: none;
  position: relative;
  line-height: 26px;
}

.ou-tree .icon {
  display: inline-block;
  cursor: pointer;
  font-size: 23px;
  min-width: 27px;
  text-align: center;
}
.ou-tree .icon:focus {
  outline: none;
}
.ou-tree .icon:empty {
  display: none;
}

.ou-tree .text {
  white-space: nowrap;
}

.ou-tree .label.selected {
  color: #2196f3;
}

.ou-tree .children {
}
