.pagination {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.paginationRowsPerPageElementContainer {
    display: flex;
    align-items: center;
    margin-inline-end: 20px;
}

.paginationRowsPerPageElement {
    margin-inline-start: 20px;
}

.paginationDisplayRowsContainer {
    margin-inline-end: 20px;
}