.input {
    padding-left: 12px;
    font-size: 16px;
    width: 100%;
    border: 1px solid #C4C4C4;
    border-radius: 3px;
    box-shadow: 0px 0px 2px 0px #C4C4C4 inset;
    height: 42px;
}

.input:disabled {
    background-color: #F5F6F7;
    cursor: not-allowed;
}

.input:focus {
    outline: none;
}

.inputWrapper {}