name: "dhis2: cypress tests"

on: [push]

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        containers: [1, 2, 3]
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          browser: chrome
          record: true
          parallel: true
          group: e2e-chrome-parallel
          start: 'yarn start'
          wait-on: 'http://localhost:3000'
          wait-on-timeout: 60

      - name: Upload artifacts
        if: failure()
        uses: actions/upload-artifact@v1
        with:
          name: failed-screenshots
          path: cypress/screenshots
    env:
      CI: true
      CYPRESS_RECORD_KEY: '6b0bce0d-a4e8-417b-bbee-9157cbe9a999'
      REACT_APP_DHIS2_BASE_URL: 'https://debug.dhis2.org/ca-test-2.34dev/capture-test-dev'
      REACT_APP_TRACKER_CAPTURE_APP_PATH: 'https://debug.dhis2.org/ca-test-2.34dev/dhis-web-tracker-capture'
      REACT_APP_DHIS2_AUTHORIZATION: 'Basic c3lzdGVtOlN5c3RlbTEyMw=='
