.coordinateField {
    position: relative;
    display: flex;
    flex-direction: column;
}
  
.coordinateFieldsHorizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.coordinateFieldsVertical {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
  
.mapIcon {
    position: relative;
    cursor: pointer;
    padding: 2px;
}

.mapIconWithMargin {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: 42px;
    margin-top: 18px;
    border: 1px solid #C4C4C4;
    border-radius: 3px 0px 0px 3px;
    box-shadow: 0px 0px 2px 0px #C4C4C4 inset;
    background: linear-gradient(180deg, #FFFFFF 0%, #F9FAFB 100%);
}

.coordinateIconWithMargin {
    position: relative;
    cursor: pointer;
    padding: 2px;
    margin-top: 28px;
}

.coordinateLeafletMap {
    position: absolute;
    overflow: hidden;
    z-index: 1000;
    left: 0;
    top: 40px;
}
.leafletContainer {
    z-index: 1000;
    width: 400px;
    height: 250px;
}
.inputContainer {
    flex-grow: 1;
}

.latitudeTextInput {
    border-radius: 0px;
}


.longitudeTextInput {
    border-radius: 0px 3px 3px 0px;
}
  