.coordinateField {
    position: relative;
    display: flex;
    flex-direction: column;
}
  
.coordinateFieldsHorizontal {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.coordinateFieldsVertical {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.mapIcon {
    height: 42px;
    width: 42px;
}
  
.mapIconContainer {
    position: relative;
    padding: 2px;
}

.mapIconContainerWithMargin {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: 42px;
    margin-top: 18px;
    border: 1px solid #C4C4C4;
    border-radius: 3px 0px 0px 3px;
    box-shadow: 0px 0px 2px 0px #C4C4C4 inset;
    background: linear-gradient(180deg, #FFFFFF 0%, #F9FAFB 100%);
}

.clearIcon {
    padding: 2px;
}

.clearIconWithMargin {
    padding: 2px;
    margin-top: 17px;
}

.inputContainer {
    flex-grow: 1;
}

.latitudeTextInput {
    border-radius: 0px;
}


.longitudeTextInput {
    border-radius: 0px 3px 3px 0px;
}

.dialogActionOuterContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.dialogActionInnerContainer {
    padding: 24px 0px 0px 5px;
}


.mapContainer {
    flex-grow: 1;
    position: relative;
}

.leafletContainer {
    position: absolute;
    height: 100%;
    width: 100%;
}

.dialogContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0px 24px 24px 24px;
}

.buttonsContainerVertical {
    display: flex;
}
  